/*
html5doctor.com Reset Stylesheet
v1.6
Last Updated: 2010-08-18
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

html, body {
  min-height: 100%;
}

html {
  height: 100%;
}

body {
  line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display:block;
}

nav ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

/* change colours to suit your needs */
ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}

/* change colours to suit your needs */
mark {
  background-color:#ff9;
  color:#000;
  font-style:italic;
  font-weight:bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted inherit;
  cursor:help;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

/* change border colour to suit your needs */
hr {
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}

input, select {
  vertical-align:middle;
}

h3 {
  margin: .2em 0 .5em;
}

small {
  font-size: 11px;
  margin: 10px 0 0;
  display: inline-block;
  border-bottom: 1px dashed;
  padding: 3px 5px;
  color: #608A9F;
}

h1, h2, h3, h4 {
  font-family: Conv_gillsans, sans-serif;
}


/*-------------------------------
            style
-------------------------------*/
/*
html, body {
  height: 100%;
}*/

body {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(images/body-noise.png), url(images/body-lines.png);
  background-color: #E9F8FB;
  color: #454F54;
}

body > header {
  background-color: #363F49;
  padding: 20px 0 20px;
  text-align: center;
  color: #CFD6D8;
  text-shadow: 0 2px 2px black;
  font-size: 21px;
  margin: 0 0 50px;
  box-shadow: 0 4px 5px rgba(0,0,0,.5) inset, 0 2px 2px rgba(0,0,0,.5);
  border-bottom: 1px solid #222;
  position: relative;
  background-image: url(images/body-noise.png), url(images/stretch-line.png), url(images/stripe-gradient.png);
  font-family: 'Alegreya', serif;
  height: 20px;
  background-position: 0 0, 0 2px, 0 100%;
  font-style: italic;
  font-weight: bold;
}

body > footer {
  text-align: center;
  margin: 40px 0 0;
}

body > footer a {
  display: inline-block;
  box-shadow: 0 1px 5px rgba(0,0,0,.5);
  border-radius: 5px;
  height: 50px;
}

body > footer a img {
  margin-right: -4px;
}

#steps {
  padding: 0 40px;
  min-width: 1000px;
}

.transform-step {
  width: 32%;
  background: rgba(157, 168, 175, .5);
  border-radius: 5px;
  float: left;
  min-height: 380px;
  padding: 10px;
  position: relative;
  box-shadow: 0 7px 6px -7px rgba(0,0,0,.75);
}

.transform-step h2 {
  color: white;
  text-align: center;
  padding: 20px 0 15px;
  margin: -10px -10px 20px -10px;
  border-radius: 5px 5px 0 0;
  font-family: Conv_gillsans, sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  text-shadow: 0 -1px 0 black;
  font-weight: normal;
  font-style: italic;
  height: 20px;
  background-color: #219EBA;
  background: -webkit-linear-gradient(hsla(191, 70%, 43%, .75), hsla(191, 60%, 33%, .75));
  background: -moz-linear-gradient(hsla(191, 70%, 43%, .75), hsla(191, 60%, 33%, .75));
  background: -ms-linear-gradient(hsla(191, 70%, 43%, .75), hsla(191, 60%, 33%, .75));
  background: linear-gradient(hsla(191, 70%, 43%, .75), hsla(191, 60%, 33%, .75));
}

.transform-step:last-child {
  margin: 0;
}

.transform-step:last-child h2 {
  background-color: #3384DB;
  background: -webkit-linear-gradient(hsla(211, 70%, 53%, .75), hsla(211, 70%, 33%, .75));
  background: -moz-linear-gradient(hsla(211, 70%, 53%, .75), hsla(211, 70%, 33%, .75));
  background: -ms-linear-gradient(hsla(211, 70%, 53%, .75), hsla(211, 70%, 33%, .75));
  background: linear-gradient(hsla(211, 70%, 53%, .75), hsla(211, 70%, 33%, .75));
}

#step-1 {
  /*background-image: url(images/step-1-bg.png);*/
  background-repeat: no-repeat;
  background-position: 50% 55%;
  background-color: #B9CFD5;
}

#step-2 {
  /*background-image: url(images/step-2-bg.png);*/
  background-repeat: no-repeat;
  background-position: 50% 55%;
  background-color: transparent;
  box-shadow: none;
  width: 29%;
}

#step-3 {
  background-image: url(images/step-3-bg.png);
  background-repeat: no-repeat;
  background-position: 54% 55%;
  background-color: #BDD0DB;
}

#step-3 .spinner {
  position: absolute;
  top: 75%;
  left: 52%;
  margin-left: -50px;
  display: none;
}

#upload-form {
  text-align: center;
  margin: 20px 0 0;
  position: relative;
}

#upload-form .spinner {
  top: 58px;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  display: none;
}

code {
  background: #141414;
  background: -webkit-linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .67) 49%, rgba(0, 0, 0, .7) 49% ,rgba(0, 0, 0, .7));
  background: -moz-linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .67) 49%, rgba(0, 0, 0, .7) 49% ,rgba(0, 0, 0, .7));
  background: -ms-linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .67) 49%, rgba(0, 0, 0, .7) 49% ,rgba(0, 0, 0, .7));
  background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .67) 49%, rgba(0, 0, 0, .7) 49% ,rgba(0, 0, 0, .7));
  font-size: 11px;
  display: block;
  line-height: 1.5em;
  box-shadow: 0 1px 0 rgba(245,255,255,.6), 0 0px 20px rgba(0,20,20,.5) inset, 0 1px 0 rgba(0,20,20,.3) inset;
  border-radius: 5px;
}

.sh_vim-dark .sh_sourceCode .sh_keyword, .sh_vim-dark .sh_sourceCode .sh_date, .sh_vim-dark .sh_sourceCode .sh_time, .sh_vim-dark .sh_sourceCode .sh_file, .sh_vim-dark .sh_sourceCode .sh_variable, .sh_vim-dark .sh_sourceCode .sh_difflines, .sh_vim-dark .sh_sourceCode .sh_selector, .sh_vim-dark .sh_sourceCode .sh_property, .sh_vim .sh_sourceCode .sh_keyword, .sh_vim .sh_sourceCode .sh_date, .sh_vim .sh_sourceCode .sh_time, .sh_vim .sh_sourceCode .sh_file, .sh_vim .sh_sourceCode .sh_variable, .sh_vim .sh_sourceCode .sh_difflines, .sh_vim .sh_sourceCode .sh_selector, .sh_vim .sh_sourceCode .sh_property {
  color: #95C261 !important;
}

.sh_golden .sh_sourceCode .sh_string, .sh_golden .sh_sourceCode .sh_regexp, .sh_golden .sh_sourceCode .sh_specialchar, .sh_golden .sh_sourceCode .sh_url, .sh_golden .sh_sourceCode .sh_ip, .sh_golden .sh_sourceCode .sh_name, .sh_golden .sh_sourceCode .sh_oldfile, .sh_golden .sh_sourceCode .sh_newfile, .sh_golden .sh_sourceCode .sh_value, .sh_ide-devcpp .sh_sourceCode .sh_string, .sh_ide-devcpp .sh_sourceCode .sh_regexp, .sh_ide-devcpp .sh_sourceCode .sh_specialchar, .sh_ide-devcpp .sh_sourceCode .sh_url, .sh_ide-devcpp .sh_sourceCode .sh_ip, .sh_ide-devcpp .sh_sourceCode .sh_name, .sh_ide-devcpp .sh_sourceCode .sh_oldfile, .sh_ide-devcpp .sh_sourceCode .sh_newfile, .sh_ide-devcpp .sh_sourceCode .sh_value, .sh_ide-kdev .sh_sourceCode .sh_string, .sh_ide-kdev .sh_sourceCode .sh_regexp, .sh_ide-kdev .sh_sourceCode .sh_specialchar, .sh_ide-kdev .sh_sourceCode .sh_url, .sh_ide-kdev .sh_sourceCode .sh_ip, .sh_ide-kdev .sh_sourceCode .sh_name, .sh_ide-kdev .sh_sourceCode .sh_oldfile, .sh_ide-kdev .sh_sourceCode .sh_newfile, .sh_ide-kdev .sh_sourceCode .sh_value, .sh_kwrite .sh_sourceCode .sh_string, .sh_kwrite .sh_sourceCode .sh_regexp, .sh_kwrite .sh_sourceCode .sh_url, .sh_kwrite .sh_sourceCode .sh_ip, .sh_kwrite .sh_sourceCode .sh_name, .sh_kwrite .sh_sourceCode .sh_newfile, .sh_kwrite .sh_sourceCode .sh_value, .sh_pablo .sh_sourceCode .sh_symbol, .sh_pablo .sh_sourceCode .sh_cbracket, .sh_the .sh_sourceCode .sh_number, .sh_the .sh_sourceCode .sh_preproc, .sh_typical .sh_sourceCode .sh_string, .sh_typical .sh_sourceCode .sh_regexp, .sh_typical .sh_sourceCode .sh_symbol, .sh_typical .sh_sourceCode .sh_cbracket, .sh_typical .sh_sourceCode .sh_url, .sh_typical .sh_sourceCode .sh_ip, .sh_typical .sh_sourceCode .sh_name, .sh_typical .sh_sourceCode .sh_newfile, .sh_typical .sh_sourceCode .sh_value, .sh_vim-dark .sh_sourceCode .sh_string, .sh_vim-dark .sh_sourceCode .sh_regexp, .sh_vim-dark .sh_sourceCode .sh_number, .sh_vim-dark .sh_sourceCode .sh_url, .sh_vim-dark .sh_sourceCode .sh_ip, .sh_vim-dark .sh_sourceCode .sh_name, .sh_vim-dark .sh_sourceCode .sh_newfile, .sh_vim-dark .sh_sourceCode .sh_value, .sh_vim .sh_sourceCode .sh_string, .sh_vim .sh_sourceCode .sh_regexp, .sh_vim .sh_sourceCode .sh_number, .sh_vim .sh_sourceCode .sh_url, .sh_vim .sh_sourceCode .sh_ip, .sh_vim .sh_sourceCode .sh_name, .sh_vim .sh_sourceCode .sh_newfile, .sh_vim .sh_sourceCode .sh_value, .sh_whatis .sh_sourceCode .sh_comment, .sh_zellner .sh_sourceCode .sh_comment {
  color: #4BDAE7 !important;
}

.snippet-wrap pre.sh_sourceCode {
  padding: .5em 1em .8em !important;
}

.sh_url {
  margin: 0;
  padding: 0;
  color: red !important;
}

.gears-bg {
  background: url(images/gears-bg.png);
  width: 100%;
  height: 250px;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: .3;
  z-index:0;
}

#posted-image {
  text-align: center;
  display: none;
}

#posted-image img {
  max-width: 200px;
}

#send-images {
  /*background: url(images/arrow-right.png) no-repeat;*/
  width: 260px;
  height: 100px;
  position: absolute;
  top: 30px;
  left: 50%;
  margin-left: -130px;
}

#send-images img {
  opacity: .1;
}

#receive-images {
  /*background: url(images/arrow-left.png) no-repeat;*/
  width: 260px;
  height: 100px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -130px;
}

#receive-images img {
  opacity: .1;
}

#process-image {
  background: url(images/image-icon-for-process.png) no-repeat;
  width: 50px;
  height: 70px;
  position: absolute;
  top: -60px;
  left: -10%;
  opacity: 0;
}

#processed-image {
  background: url(images/image-icon-processed.png) no-repeat;
  width: 80px;
  height: 70px;
  position: absolute;
  bottom: -80px;
  left: 90%;
  opacity: 0;
}

#output_queue {
  position: absolute;
  bottom: 30px;
  left: 50px;
  display: none;
}

#output_queue img {
  float: left;
  width: 100px;
  margin-right: 5px;
}

#result-flow.hidden {
  display: none;
}

#output {
  min-width: 590px;
}

#output img {
  max-width: 256px;
}

#output thead th {
  text-align: center;
  padding: 0 0 10px;
}

#output tbody td {
  vertical-align: middle;
  text-align: center;
}

#output span {
  overflow: hidden;
  width: 150px;
  display: block;
  height: 100px;
  position: relative;
  float: left;
}

#output span .spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -25px 0 0 -25px;
}

#result {
  background: rgba(0, 179, 0, .8);
  padding: 10px;
  color: white;
  font-size: 14px;
  width: 150px;
  text-align: center;
  position: absolute;
  top: 52px;
  left: 50%;
  margin-left: -86px;
  display: none;
}

#result-flow {
  margin: 60px auto 0;
  width: 600px;
  position: relative;
  z-index: 1;
}

#result-flow h2 {
  font-size: 40px;
  text-align: center;
  margin: 0 0 40px;
}

.clearfix:before, .clearfloat:before {
  content    : ".";
  display    : block;
  font-size  : 0;
  height     : 0;
  clear      : both;
  visibility : hidden;
}

.clearfix, .clearfloat {
  display : block;
}

.gear-small {
  width: 69px;
  height: 69px;
  position:absolute;
  top:10px;
  left:12px;
}

.gear-small.shadow {
  margin-top: 2px;
  opacity: .75;
}

.gear-big {
  width: 116px;
  height: 116px;
  position: absolute;
  top:44px;
  left:57px;
}

.gear-big.shadow {
  margin-top: 2px;
  opacity: .75;
}

#gears {
  overflow: hidden;
  width: 180px;
  height: 180px;
  position: absolute;
  top: 120px;
  left: 90px;
}

#gears.moving .gear-small {
  -webkit-animation:  smallGearRotate 2s infinite linear;
  -moz-animation:     smallGearRotate 2s infinite linear both;
  -ms-animation:      smallGearRotate 2s infinite linear both;
  animation:          smallGearRotate 2s infinite linear both;
}

#gears.moving .gear-big {
  -webkit-animation:  bigGearRotate 2.5s infinite linear both;
  -moz-animation:     bigGearRotate 2.5s infinite linear both;
  -ms-animation-name: bigGearRotate 2.5s infinite linear both;
  animation-name:     bigGearRotate 2.5s infinite linear both;
}

.no-svg .footer-box {
  .content {
    background: url(/assets/gears.png) no-repeat 25px 40px;
  }
  #gears {
    display: none;
  }
}

@-webkit-keyframes smallGearRotate {
  from {  -webkit-transform:rotate(0deg); }
  to   {  -webkit-transform:rotate(-360deg); }
}
@-webkit-keyframes bigGearRotate {
  from {  -webkit-transform:rotate(0deg); }
  to   {  -webkit-transform:rotate(360deg); }
}

@-moz-keyframes smallGearRotate {
  from {  -moz-transform:rotate(0deg); }
  to   {  -moz-transform:rotate(-360deg); }
}
@-moz-keyframes bigGearRotate {
  from {  -moz-transform:rotate(0deg); }
  to   {  -moz-transform:rotate(360deg); }
}

@-ms-keyframes smallGearRotate {
  from {  -ms-transform:rotate(0deg); }
  to   {  -ms-transform:rotate(-360deg); }
}
@-ms-keyframes bigGearRotate {
  from {  -ms-transform:rotate(0deg); }
  to   {  -ms-transform:rotate(360deg); }
}

@-keyframes smallGearRotate {
  from {  transform:rotate(0deg); }
  to   {  transform:rotate(-360deg); }
}
@-keyframes bigGearRotate {
  from {  transform:rotate(0deg); }
  to   {  transform:rotate(360deg); }
}

#samples {
  padding: 30px 0 20px;
  display: none;
}

#samples img {
  width: 100px;
  cursor: default;
  border-radius: 10px;
}

#samples img.selected {
  background: rgba(65, 95, 113, .3);
}

#samples img:hover {
  box-shadow: 0 0px 5px hsl(200, 60%, 40%);
}

#sample-toggler {
  cursor: pointer;
}

#sample-toggler:hover {
  background: rgba(96, 138, 159, .2);
}

#githublink {
  position: absolute;
  left: 40px;
  top: 11px;
  background: url(images/github-icon.png) no-repeat;
  width: 40px;
  height: 40px;
  text-indent: -9999px;
}

#githublink:hover {
  background-position: 0 -50px;
}

#githublink:active {
  margin-top: 2px;
}